<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Verifica tu correo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Verificación de Cuenta</h2>
        <form method="POST">
            <input type="text" name="codigo" placeholder="Código de 4 dígitos" required>
            <button type="submit">Verificar</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert">
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>
